<p-card>

  <div *ngIf="courses$ | async as courses; else loading">
    <p-table
    [value]="courses"
    [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="caption-table">
          <p-toolbar> Cursos Disponíveis </p-toolbar>
          <p-button><i class="pi pi-plus"></i>Novo Registro</p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Curso</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-courses>
        <tr>
          <td>{{ courses.name }}</td>
          <td>{{ courses.category }}<span class="pi pi-apple"></span></td>
          <td>
            <p-button><i class="pi pi-pencil"></i></p-button>
            <p-button><i class="pi pi-trash"></i></p-button>
          </td>
        </tr>

      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            {{
              courses
              ? courses.length > 1
                ? 'Temos um total de '+ courses.length + ' cursos'
                : 'Temos um total de '+ courses.length + ' curso'
              : 'Não há cursos cadastrados !'
              }}.
        </div>
    </ng-template>
    </p-table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
  <p-toast></p-toast>
  <!-- <div class="card flex justify-content-center gap-2">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-button
      (click)="confirm1($event)"
      icon="pi pi-check"
      label="Confirm"
    ></p-button>
    <p-button
      (click)="confirm2($event)"
      icon="pi pi-times"
      label="Delete"
      styleClass="p-button-danger"
    ></p-button>
  </div> -->
</p-card>
